@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.5s ease-in-out forwards;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Adjust the space between cards */
}

.product-card {
  flex: 1 1 calc(50% - 16px); /* Each card takes up 50% of the width, minus the gap */
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .product-card {
    flex: 1 1 100%; /* For smaller screens, make it one column */
  }
}

.button-group-card {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

html, body {
  height: 100%;
  margin: 0%;
  padding: 0%;
}

#root {
  max-width: 960px;
  min-width: 375px;
  margin: 0px 0px;
  padding: 0rem;
  text-align: center;
}

footer {
  background-color: #f1f1f1; /* Задайте цвет фона для футера */
  padding: 10px 0; /* Задайте отступы для футера */
  text-align: center; /* Центрируйте текст в футере */
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* высота экрана */
  flex-direction: column;
}



